<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
        <form name="frm" method="post" action="/fileupload" enctype="multipart/form-data">
            <table>
                <tr>
                    <td>제목</td>
                    <td><input type="text" id="title" name="title"></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <textarea id="contents" name="contents"></textarea>
                    </td>
                </tr>
            </table>
            <input type="file" id="files" name="files" multiple="multiple">
            <input type="submit" id="submit" value="저장">
        </form>

    </div>
</body>
</html>